name: Build

on:
  push:
    branches:
      - main
      - fix

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Restore gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/dev' && github.ref != 'refs/heads/master' }}
          gradle-home-cache-cleanup: true
        env:
          GRADLE_BUILD_ACTION_CACHE_DEBUG_ENABLED: true

      - name: Kotlin lint
        run: ./gradlew ktlintCheck --stacktrace

      - name: Unit tests
        run: ./gradlew test --stacktrace

      - name: All checks
        run: ./gradlew check --stacktrace

      - name: Build
        run: ./gradlew build --stacktrace